* {
  margin: 0;
  padding: 0;
}

html, body { 
	height: 100%; 
	width: 100%; 
	margin: 0; 
}

body {	
    background-image: url("../images/sayagata-400px.png");
    background-repeat: repeat-xy;
	font-family: Coolvetica, Tahoma, serif;
}

#main_wrapper {
	width: 850px;
    height: 640px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	background-color: rgba(50,50,50,0.1);
    border-style: solid;
	border-width: 1px;
	border-color: #bbb;
}

/* Title bar */
#title_wrapper {
	text-align: center;
}

#title_bar {
	display: inline-block;
	width: auto;
	height: 70px;
	vertical-align: top;
}

#title_bar h1 {
	margin-top: 20px;
}

#sub_title {
	position: absolute;
	left: 0;
	top: 116px;
	padding: 10px;
	color: #ff5555;
}

/* Search results */
#search_wrapper {
	
}

#search_box {
	position: absolute;
	top: 80px;
	width: 45%;
}

#query {
	float: left;
	width: calc(100% - 57px);
	width: -webkit-calc(100% - 57px);	/* webkit */
	width: -o-calc(100% - 57px);		/* opera */
	width: -moz-calc(100% - 57px);		/* mozilla */
	padding: 9px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
	font-size: large;
}

#query:focus, #query.focus {
  border-bottom: solid 2px #969696;
}

#submit {
	border-bottom: solid 2px #c9c9c9;
}

#select_box {
	position: absolute;
	right: 0;
	margin-top: -5px;
	margin-right: -2px;
	width: 240px;
	height: 34px;
	overflow: hidden;
	background-color: 
	border: solid 2px #c9c9c9;
 	background: url(../images/select_arrow.png) no-repeat rgba(50,50,50,0.3) right;
	border: none;
	text-align-last: center;
	font-size: large;
	appearance: none;			/* Removes default arrow */
    -moz-appearance: none; 		/* Firefox */
    -webkit-appearance: none; 	/* Safari and Chrome */
}

#search_results {
	position: absolute;
	width: 45%;
	height: 76%;
	left: 0;
	bottom: 0;

	font-family: Hack, Tahoma, serif;
	font-size: 11px;
	overflow-y: scroll;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
}

.result_box {
	border-style: solid;
	border-color: #bbb;
	border-width: 1px;
	margin-bottom: -1px;
	background: rgba(255,255,255,0.2);
	height: 100px;
	padding: 1px;
	position: relative;
}

.result_img {
	width: 120px;  /* bit larger than max thumbnail */
	height: 100%;
	overflow: hide;
	background: white;
	float: left;
}

.result_img_box {
	position: relative;
	text-align: center;
	overflow: hidden;
	width: 120px;
	height: 100%;
	border-style: solid;
	border-color: #bbb;
	border-width: 1px;
}

.result_img_src {
	height: 100%;
}

.result_box .result_text {
	display: block;
	float: right;
	width: calc(100% - 140px);
	width: -webkit-calc(100% - 140px);	/* webkit */
	width: -o-calc(100% - 140px);		/* opera */
	width: -moz-calc(100% - 140px);		/* mozilla */
}

.result_box a {
	text-decoration: none;
}

.result_box .result_text .result_title {
	float: right;
	width: 100%;
	border-style: solid;
	border-color: #bbb;
	border-width: 1px;
	background-color: rgba(0,0,0,0.1);
	font-size: 12px;
	font-weight: normal;
	color: #000;
	text-align: center;
}

.result_box .result_text .result_author {
	color: #444;
}

.result_duration {
  position: absolute;
  z-index: 10;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  color: white;
  padding: 2px;
}

/* Playlist */
#playlist {
	position: absolute;
	width: 45%;
	height: 76%;
	right: 0;
	bottom: 0;
	
	border-style: solid;
	border-width: 1px;
	border-color: #bbb;
}

#playlist_title, #track_history_title {
	width: 100%;
	height: 25px;
	background: rgba(50,50,50,0.5);
	text-align: center;
	padding-bottom: 5px;
	font-size: 20px;
}

.playlist_track, .history_track {
  border-style: solid;
  border-width: 1px;
  border-color: #bbb;
}

.history_track {
	color: grey;
}

/* Player */
#player_wrapper {
	position: absolute;
	width: 45%;
	top: 80px;
	right: 0;
}

#player {
	height: 70px;
	border-style: solid;
	border-width: 2px;
	border-color: #bbb;
	margin: 0 auto;
/* 	background-image: url("../images/small_steps.png"); */
/*     background-repeat: repeat-xy; */
	background-color: rgba(50,50,50,0.3);
	margin-left: -2px;
	text-align: center;
}

#yt_player {
	display: none;
}

#ctrl_wrapper {
	position: absolute;
	bottom: 4px;
	left: 4px;
	text-align: justify;
}

#pause_wrapper, #play_wrapper, #next_wrapper, #back_wrapper {
	display: inline-block;
	vertical-align: top;
	width: 24px;
	height: 24px;
/* 	background-color: white; */
}

#pause, #play, #next, #back {
	width: 24px;
	height: 24px;
}

#position {
	position: absolute;
	bottom: 6px;
	left: 122px;
}

input[type=range] {
    -webkit-appearance: none;
    background-color: silver;
    width: 180px;
    height: 20px;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
    background-color: black;
	opacity: 0.66;
    width: 10px;
    height: 26px;
}

#track_time {
	position: absolute;
	right: 5px;
	bottom: 8px;
	font-size: small;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}