<!doctype html>
<html data-ng-app="QueueItUpApp">
	<head>
		<meta charset="utf-8">
		<title>Queue It Up!</title>
	</head>
	<body>
		
		<div data-ng-controller="YouTubeController">
			<h1>Queue It Up!</h1>
			<form id="search" data-ng-submit="search()">
				<input id="query" name="q" type="text" placeholder="Search for a YouTube video" data-ng-model="query">
				<input id="submit" type="image" src="images/search.png" alt="Search">
			</form>
		
		<ul>
			<li ng-repeat="item in results">
				{{item}}
			</li>
		</li>
		
		</div>		

		<!-- Vendor libraries -->
		<script src="lib/jquery-v1.11.1.js"></script>
		<script src="lib/angular.js"></script>
		<script src="lib/angular-route.js"></script>
		<script src="lib/angular-sanitize.js"></script>
		<!-- Application Files -->
		<script src="js/app.js"></script>
		<script src="js/controllers/YouTubeController.js"></script>
		<script src="js/services/YouTubeService.js"></script>
	</body>
</html>