<!doctype html>
<html ng-app="QueueItUpApp">
	<head>
		<meta charset="utf-8">
		<title>Queue It Up!</title>
		
		<!-- CSS links -->
		<link rel="stylesheet" type="text/css" href="fonts/coolvetica.css">
		<link rel="stylesheet" type="text/css" href="fonts/hack.css">
		<link rel="stylesheet" type="text/css" href="css/site.css">
		<!-- External Scripts -->
		<script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
		
	</head>
	<body ng-cloak>
		
		<div ng-controller="MainCtrl">
			<h1>Queue It Up!</h1>
			
			<span id="current_track" ng-show="currentTrack">
				{{currentTrack.title}} {{currentTrack.state}} {{currentTrack.time}}/{{currentTrack.duration}}
			</span>
			
			<form id="search" ng-submit="search(search_type)" ng-init="search_type='youtube'">
				<input id="query" name="q" type="text" placeholder="Loading..." data-ng-model="query" disabled>
				<input id="submit" type="image" src="images/search.png" alt="Search" disabled> <br/>
				<input type="radio" name="search_type" value="youtube" ng-model="search_type"> YouTube<br>
				<input type="radio" name="search_type" value="soundcloud" ng-model="search_type"> SoundCloud<br>
			</form>
			
			<div id="search_results">
				<div class="result_box" ng-repeat="item in results">
					<img class="result_img" ng-src="{{item.thumbnail}}" align="top"/>
					<span class="result_text">
						<span class="result_title">{{item.title}}</span> 
						<span class="result_duration">{{item.duration}}sec</span><br/>
						<span class="result_author">{{item.author}}</span>
						<p>
							<button ng-click="$parent.addTrack(item.id,item.title,search_type,item.duration)">Add to Queue</button>
						</p>
					</span>
				</div>
			</div>
			
			<div id="player" ng-show="currentTrack">
				<div id="yt_player"><!-- Placeholder for YT video --></div>
				<div id="sc_player"><!-- Placeholder for SC video --></div>
				<button id="play" ng-click="btnPlay()">Play</button>
				<button id="pause" ng-click="btnPause()">Pause</button>
				<button id="next" ng-click="btnNext()">Next</button>
				<button id="back" ng-click="btnBack()">Back</button>
				<input id="position" type="range" min="0" step="0.5" max="{{currentTrack.duration}}" value="0" 
					ng-model="currentTrack.time" ng-mousedown="stopTimer()" ng-mouseup="setPosition()">
			</div>
			
			<div id="playlist">
				
				<div ng-if="playHistory.length>0">Track History:</div>
				<ul id="playHistory">
					<li ng-repeat="item in playHistory">
						{{item.title}} ({{item.duration}}s)
					</li>
				</ul>
				
				<div ng-if="playlist.length>0">Playlist:</div>
				<ul>
					<li ng-repeat="item in playlist">
						{{item.title}} 
						<button ng-click="$parent.upvote(item.id)">+</button> 
						<button ng-click="$parent.downvote(item.id)">-</button> 
						[{{item.votes }}] ({{item.duration}}s)
						<button ng-click="$parent.removeTrack(item.id,item.title)">x</button>
						<!-- Note use of $parent because ng-repeat creates its own scope -->
					</li>
				</ul>
			</div>
			
		</div>		

		<!-- Vendor libraries -->
		<script src="lib/jquery-v1.11.1.js"></script>
		<script src="lib/angular.js"></script>
		<script src="lib/angular-route.js"></script>
		<script src="lib/angular-sanitize.js"></script>
		<!-- Application Files -->
		<script src="js/app.js"></script>
		<script src="js/controllers/MainCtrl.js"></script>
		<script src="js/services/YouTubeService.js"></script>
		<script src="js/services/SoundCloudService.js"></script>
	</body>
</html>